#
# Copyright (c) 2016 Cisco and/or its affiliates, and 
#                    Cable Television Laboratories, Inc. ("CableLabs")
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at:
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[run]
branch = True
omit =
    *testing*
    *clientLib*
    *__init__.py
    *_pb2.py
    rpd/hal/src/HalMain.py
    rpd/hal/src/HalLog.py
    rpd/hal/lib*
    rpd/confdb*
    rpd/hal/simulator/start_hal.py
    rpd/provision/proto*
    rpd/rpdinfo*
    rpd/hostresources*
    rpd/provision/simulator/provision_sim.py
    rpd/provision/process_agent/ipsec/ike_agent.py
    rpd/tps.py
    rpd/common/proto_generator.py
    rpd/example.py
    rpd/rcp/rcp_master_sim.py
    rpd/rcp/rcp_slave_sim.py
    rpd/l2tp/L2tpv3UnitTest.py
    rpd/l2tp/l2tpv3/src/L2tpv3Main.py
    rpd/l2tp/l2tpv3/simulator/L2tpv3PacketSim.py
    rpd/l2tp/l2tpv3/simulator/L2tpv3MasterSim.py
    rpd/l2tp/client/L2tpClient.py
    rpd/manager.py
    rpd/rcp/simulator/rcp_master_sim.py
    rpd/rcp/simulator/start_rpd_alone.py
    rpd/rcp/rcp_master_orchestrator.py
    rpd/rcp/rcp_lib/rcp_master.py
    rpd/python_path_resolver.py
    rpd/rpd_unit_tests.py
    rpd/it_api/it_api.py
    rpd/it_api/manager.py
source = rpd

[report]
exclude_lines =
	raise NotImplementedError

ignore_errors = True
